<template>
  
<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="~/assets/images/ino2.jpg" name="aboutme" width="140" height="180" class="shadow mt-5 mb-3" ></a>
        <h3>Rizky Aquino</h3>
        <h4 class="btn btn-info text-uppercase" data-toggle="modal" data-target="#myModal">More Information</h4>
	    	</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Ino</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="~/assets/images/ino2.jpg" name="aboutme" width="140" height="180" border="0" class="shadow mt-2 mb-3">
                    <h3 class="media-heading">Rizky Aquino <small>Indonesia</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="badge badge-warning">HTML5/CSS</span>
                        <span class="badge badge-info">Javascript</span>
                        <span class="badge badge-info">Vue</span>
                        <span class="badge badge-success">Graphic Design</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Hello, my name is Rizky Aquino, you can call me Ino. I'm a student at Vocational School IPB University. I love tons of money and I'm passionate about building a website.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-success" data-dismiss="modal">I've heard enough about Ino</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
  
}
</script>

<style>

</style>